@import url(https://fonts.googleapis.com/css?family=Tinos:400,400italic,700,700italic|Poiret+One);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #000;
	background: url("../images/page_background.jpg");
	background-size: contain;
	background-attachment: fixed;
	color: #000033;
	font-family: 'Tinos', Garamond, 'Adobe Garamond Pro', Georgia, 'Times New Roman', Times, serif;
	font-size: 16px;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Poiret One', Helvetica, Arial, sans-serif;
	text-align: center;
}

p {
	line-height: 1.5em;
	font-size: 1em;
	color: #000000;
	padding-bottom: 0.3em;
}

hr {
	border: none;
	background-color:rgba(255,255,255,.5);
	height: 2px;
	width: 50%;
	margin: 0.8em auto;
}

h1 {
	text-transform: uppercase;
	font-size: 2em;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

h2 {
	letter-spacing: 0.05em;
	margin-top: 0.4em;
	font-size: 1.5em;
}

ul {
	list-style-type: none;
	text-align: center;
	padding: 0;
	line-height: 1em;
	font-size: 1em;
}

li {
	margin-top: 0em;
	margin-bottom: 1em;
}

a:link {
	text-decoration: none;
	color: #888800;
}

a:visited {
	text-decoration: none;
	color: #888800;
}

a:hover {
	text-decoration: none;
	color: #AAAA22;
}

a:active {
	text-decoration: none;
	color: #AAAA22;
}

img {
	width: inherit;
}

header {
	text-align: left;
	font-family: 'Poiret One', Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	border-radius: 0.5em;
	color: #000000;
	background-color: rgba(255,255,255,.8);
	border: 0;
	padding: 0.3em;
	margin: 0.6em 0;
}

header img {
	margin: 0.25em 0 0 0.25em;
	height: 40px;
}

article {
	border: 0;
	padding: 2%;
	width: 100%;
}

article:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
}


aside {
	border: 0;
	padding: 2%;
	width: 100%;
	color: #888800;
	font-size: 0.9em;
	background: url("../images/laurels.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	text-align: center;
	display: block;
}

footer {
	clear: both;
	font-size: 0.7em;
	text-align: left;
	background: rgba(255,255,255,.8);
	border-radius: 0.5em;
	padding: 0.6em;
	margin-top: 0.5em;
}

footer p {
	float: right;
}

footer a {
	font-size: 1.3em;
	margin: 0 0.5em;
}

section {
	border: 0;
	padding: 0.6em;
}

main > section {
	border: 0;
	padding: 0;
}

main > section ul, li {
	padding: 0;
	margin: 0.4em 0 0.4em;
}

main > section:first-child {
	margin-top: 2em;
}

main > section:last-child {
	margin-bottom: 2em;
}


/* ID selectors following */

#promo {
	text-align: center;
	color: #ffffff;
}

#promo > h2 {
	font-size: 1.5em;
	text-align: center;
	letter-spacing: 0.05em;
	margin-bottom: 0.5em;
}

#promo > p {
	color: #ffffff;
	font-size: 1.1em;
}


#festivals {
	border: 0;
	color: #ffffff;
	padding: 0.6em;
	text-align: center;
	background-color: rgba(255,255,255,.8);
	background: url("../images/laurels_white.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

}

#festivals a:link {
	color: #FFFFCC;
}

#festivals a:visited {
	color: #FFFFCC;
}

#festivals a:hover {
	color: #aaaa66;
}

#festivals a:active {
	color: #aaaa66;
}

#festivals ul, li {
	padding: 0;
	margin: 0.4em 0 0.4em;
}

#festivals_left {
	border: 0;
	padding: 0 2% 0;
	margin-left: 10%;
	float: left;
	width: 40%;
}

#festivals_right {
	border: 0;
	padding: 0 2% 0;
	margin-right: 10%;
	float: right;
	width: 40%;
}


/* Class selectors following */

.wrapper {
	width: 90%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
}

.stats {
	font-weight: bold;
	font-size: 0.9em;
	margin-top: 0;
}

.summary {
	font-style: italic;
	font-size: 1em;
}

.writeup {
	font-weight: normal;
	font-size: 0.9em;
}

.contact {
	text-align: center;
	background: rgba(255,255,255,.8);
	border-radius: 0.5em;
	margin-bottom: 0.5em;

}

.movie {
	margin: 0.6em 0;
	padding: 0.3em;
	border-width: 1px;
	border-color: rgba(255,255,255,1);
	border-style: solid;
	background: rgba(255,255,255,.8);
	border-radius: 0.5em;
}

.movie:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
}

.poster {
	width: 150px;
	float: left;
	margin: 0 1em 1em 0;
}

.award {
	text-transform: uppercase;
	font-weight: bold;
}

.festival {
	font-style: italic;
}

nav {
	float: right;
	position: static;
	margin: 0;
	padding: 0.9em 0 0 0;
}

nav a:link {
	color: #000000;
	padding: 0.3em 0.6em;
	text-decoration: none;
}

nav a:visited {
	color: #000000;
}

nav a:hover { 
	background-color: rgba(0,0,0,.2);
	color: #FFFFCC;
}

nav a:active {
	color: #FFFFCC;
}

nav > ul {
	transition: max-height 0.25s linear;
}

nav ul {
	padding: 0;
	margin: 0;
	text-align: right;
}

nav li {
	transition: visibility 0.25s linear;
	display: inline-block;
	position: relative;
}


/* Media queries following, including "hamburger menu" CSS */

@media screen and (min-width: 651px) {

	nav li ul {
		display: none;
		position: absolute;
		top: 100%;
		margin-top: 1px;
		left: -1px;
		right: -1px;
	}

	nav li:hover ul {
		display: block;
	}

	nav li li {
		margin: -1px 0 0 0;
		box-sizing: border-box;
		width: 100%;
	}
}


@media screen and (min-width: 900px) {

	body {
		font-size: 18px;
	}

	p {
		line-height: 1.3em;

	}

	header img {
		height: 60px;
	}

	nav {
		font-size: 1.2em;
		padding: 0.7em 0 0 0;
	}

	article {
		float: left;
		width: 70%;
	}

	aside {
		float: right;
		width: 30%;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		text-align: center;
		display: block;
	}


}

@media screen and (max-width: 650px) {

	#festivals, .bg_info {
		display: none;
	}

	.wrapper {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.movie > aside {
		display: none;
	}

	.movie > article {
		border: 0;
		padding: 2%;
		float: left;
		width: 96%;

	}

	nav > ul {
		max-height: 0;
		overflow: hidden;
		margin: 1em 3.5em 0 1em;
		background-color: rgba(150,150,150,.7);
	}

	nav li {
		visibility: hidden;
		display: block;
		padding: 0.5em 0.6em;
		border: none;
	}

	nav a:hover {
		color: #FFFF88;
	}

	nav li ul {
		margin-top: 0.5em;
		border-left: 1px solid #000;
	}
	
	nav .navbar-handle {
		display: block;
	}

	footer p {
		float: none;
		text-align: right;
	}


	#navbar-checkbox:checked + nav ul {
		max-height: 300px;
	}

	#navbar-checkbox:checked + nav li {
		visibility: visible;
	}

	#navbar-checkbox:checked + nav .navbar-handle,
	#navbar-checkbox:checked + nav .navbar-handle:after,
	#navbar-checkbox:checked + nav .navbar-handle:before {
		border-color: #aaa;
	}
}

.navbar-checkbox {
	display: none;
}

.navbar-handle {
	display: none;
	cursor: pointer;
	position: relative;
	font-size: 45px;
	padding: 0.5em 0;
	height: 0;
	width: 1.66666667em;
	border-top: 0.13333333em solid;
}

.navbar-handle:before,
.navbar-handle:after {
	position: absolute;
	left: 0;
	right: 0;
	content: ' ';
	border-top: 0.13333333em solid;
}

.navbar-handle:before {
	top: 0.37777778em;
}

.navbar-handle:after {
	top: 0.88888889em;
}

nav {
	position: relative;
	top: -.4em;
	left: 0;
	right: 0;
}

nav .navbar-handle {
	position: absolute;
	font-size: 1.2em;
	top: 0.7em;
	right: 12px;
	z-index: 10;
}

@media screen and (max-width: 370px) {

	header img {
		margin: 0.3em 0 0.2em 0.25em;
		height: 30px;
	}

	header {
		font-size: 1em;
	}
}
