@import url(https://fonts.googleapis.com/css?family=Tinos:400,400italic,700,700italic|Josefin+Sans:600,600italic);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;*/
}

body {
	background-color: #000;
	background: url("../images/page_background.jpg");
  	background-size: contain;
  	background-attachment: fixed;
  	color: #000000;
  	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
	font-weight: 600;
	text-align: center;
	margin: 8px;
}

p, ul {
	font-family: 'Tinos', Garamond, Palatino, 'Times New Roman', Times, serif;
	line-height: 1.5em;
	font-size: 1em;
}

h1 {
	text-transform: uppercase;
	color: #000000;
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

p {
	color: #000000;
}

ul {
	list-style-type: none;
	text-align: center;
	padding: 0;
	line-height: 1em;
}

li {
	margin-top: 0em;
	margin-bottom: 1em;
}

a {
	text-decoration: none;
	color: #000099;
}

img {
	width: 120px;
}

header {
	text-align: center;
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;

}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;

}

nav a {
	font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	margin: 0 0.5em;
	color: #900;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

footer {
	font-size: 0.7em;
	text-align: center;
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
	margin-top: 8px;
}

footer a {
	font-size: 1.3em;
	margin: 0 0.5em;
	color: #900;
}

div {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
	margin: 10px 0;
}


#promo {
	text-align: center;
}

#slogan {
	font-size: 24px;
	font-style: italic;
	text-align: center;
}

.wrapper {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
	margin-bottom: 8px;
}

.stats {
	font-weight: bold;
	font-size: 11px;
}

.summary {
	font-style: italic;
	font-size: 14px;
}

.writeup {
	font-weight: normal;
	font-size: 12px;
}

.contact {
	text-align: center;
}

.movie {
	margin: 20px;
	padding: 20px;
	border-width: 1px;
	border-color: #ffffff;
	border-style: solid;
	background: rgba(100,100,100,.5);
}

.description {

}


.poster {
	width: 162px;
}

.awards {
	color: #ffffcc;
	font-size: 12px;
	line-height: 1em;
}

.award {
	text-transform: uppercase;
	font-weight: bold;
}

.festival {
	font-style: italic;
}
