body {
	background-color: #000;
	background: url("../images/page_background.jpg");
  	background-size: contain;
  	background-attachment: fixed;
  	color: #ffffff;
}

h1, h2 {
	font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
	text-align: center;
}

p, ul {
	font-family: 'Tinos', Garamond, Palatino, 'Times New Roman', Times, serif;
	line-height: 1.5em;
}

h1 {
	text-transform: uppercase;
	color: #dddddd;
}

p {
	color: #cccccc;
}

ul {
	list-style-type: none;
	text-align: center;
}

a {
	text-decoration: none;
	color: #79f;
}

img {
	width: inherit;
}

header {
	text-align: center;
	background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;

}

nav {
	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;

}

aside {
	background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;

}

article {
	background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;

}

footer {
	font-size: 10px;
	text-align: center;
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}

div {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;

}

section {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;

}


#promo {
	text-align: center;
}

#slogan {
	font-size: 24px;
	font-style: italic;
	text-align: center;
}

.stats {
	font-weight: bold;
	font-size: 11px;
}

.summary {
	font-style: italic;
	font-size: 14px;
}

.writeup {
	font-weight: normal;
	font-size: 12px;
}

.contact {
	text-align: center;
}

.movie {
	margin: 20px;
	padding: 20px;
	border-width: 1px;
	border-color: #ffffff;
	border-style: solid;
	background: rgba(100,100,100,.5);
}

.poster {
	width: 120px;
}

.awards {
	color: #ffffcc;
	font-size: 12px;
	line-height: 1em;
}

.award {
	text-transform: uppercase;
	font-weight: bold;
}

.festival {
	font-style: italic;
}
